.menu-toggle-img{
  max-width: 40px;
  max-height: 40px;
  margin-left: 1%;
  margin-top: 2%;

}
.title{
  cursor: pointer;
text-align: center;
color: white;
}
.title2{
  margin-left: 1%;
color: white;

}
.header{
  height: 200px;
    background-color: #457699;
}
